.modalShowImageDetail {
  min-width: 85vw;
}

.modalBody {
  min-height: 90vh;

  .imageItem {
    width: 85%;
    margin: 0 auto;
    .boxImageModal {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
    }
  }

  .listInfo {
    list-style: none;
    padding-left: 0;
    li {
      display: flex;
      align-items: center;
    }
  }

  .boxImageRelated {
    width: 80%;
    margin: 0 auto;
  }
}

.modalUpdateImage {
  height: 500px;
  padding: 0;
}

.modalBorder {
  border-radius: 15px;
  overflow: hidden;
}

.blurBg {
  z-index: 1055;
}
