@import "styles/variable";

.headerLayout {
  width: 100vw;
  height: 120px;
  padding-top: 10px;
  background-color: #fff;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  > div {
    height: 50px;
  }

  .boxSearchResource {
    #searchResource {
      border-radius: 20px;
      padding-left: 35px;
      background-color: rgba(gray, 0.05);

      &:active,
      &:focus {
        border-color: rgba(gray, 0.5);
        background-color: #fff;
      }
    }

    .iconSearch {
      top: 50%;
      left: 3%;
      transform: translateY(-50%);
    }
  }
}

.bottomHeader {
  .listCategory {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline;
      margin: 0 10px;
      font-size: 1rem;
      font-weight: 400;
      color: rgba(gray, 0.9);

      a:hover {
        color: rgba(gray, 0.9);
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .mainCategory {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 90%;
      transform: translateY(5%);
      width: 2px;
      background-color: rgba(gray, 0.9);
      top: 0;
      right: 0;
    }
  }
}

.signIn {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: rgba($color: gray, $alpha: 0.5);
    height: 100%;
    width: 2px;
    right: -10px;
  }
}

.modalUpload {
  height: 80vh;
  cursor: pointer;

  .dropzone {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed black;
    border-radius: 5px;
    flex-direction: column;
  }

  .boxImageRender {
    height: 85%;
  }

  .boxUploadImageItem {
    width: 100%;
    height: 200px;
    border: 2px dashed $altblue;
    border-radius: 5px;
  }
}
