.formLayout {
  border-radius: 10px;
  overflow: hidden;
  .box {
    height: 75vh;
    &Image {
      height: 100%;
    }
  }
}


.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
